<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>INCAYA - Artisans du numérique</title>
    <meta
      name="description"
      content="Comprendre votre métier et son quotidien, imaginer ou repenser une architecture technique, trouver les professionnels qualifiés pour développer vos outils et les maintenir au long cours"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Flux RSS du blog Incaya"
      href="/blogs/index.xml"
    />
  </head>
  <body>
    <header>
      <a href="/">INCAYA</a>
      <nav aria-label="menu de navigation">
        <ul>
          <li><a href="/">Accueil</a></li>
          <li>
            <a href="/la-cooperative">Coopérative</a>
          </li>
          <li>
            <a href="/nos-references">Références</a>
          </li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1>
          Travaillons ensemble à la réussite de vos projets numériques
        </h1>
        <div>
            <div>
              <p>
                <mark>Comprendre</mark> votre métier et son quotidien, imaginer
                ou repenser une architecture technique,
                <mark>développer</mark> vos outils - ou trouver les
                professionnels qualifiés pour les réaliser - mais aussi les
                <mark>maintenir</mark> au long cours : voici comment nous
                intervenons régulièrement pour garantir le succès des projets de
                nos clients.
              </p>
            </div>
            <div>
              <p>
                Forts de nombreuses années d'expérience dans le
                <mark>développement informatique et l'accompagnement</mark>,
                nous pouvons vous aider à prendre du recul, à faire les bons
                choix et à créer un climat de confiance.
              </p>
              <p>
                A la fois <mark>techniciens</mark> et
                <mark>assistants à maîtrise d'ouvrage</mark>, nous intervenons
                régulièrement en <mark>facilitateurs</mark> pour lever les
                freins et rétablir une communication optimale.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="container-fluid anchor pb-5 experiences-section">
        <h2 class="text-center">Nous sommes des artisans de la donnée</h2>
        <div
          class="container text-justify align-items-center d-flex flex-row pb-5 mb-5"
        >
          <div class="col mx-auto">
            <div class="experience-entry-heading">
              <div class="illu">
                <img
                  src="/images/accueil/acquerons.svg"
                  class="illu"
                  alt="nous acquérons la donnée"
                />
              </div>
              <h3>Acquisition</h3>
            </div>
            <p>
              Vous avez besoin d'une interface de captation claire, consentie,
              inclusive ?
            </p>
            <p>
              Des formulaires web aux objets connectés, nous nous engageons à
              imaginer avec vous les justes modalités d'acquisition de la donnée
              brute.
            </p>
          </div>

          <div class="col mx-auto">
            <div class="experience-entry-heading">
              <div class="illu">
                <img
                  src="/images/accueil/transformons2.svg"
                  class="illu"
                  alt="nous transformons la donnée"
                />
              </div>
              <h3>Transformation</h3>
            </div>
            <p>
              Vous voulez réorganiser, transformer et restructurer des bases de
              données de tous types et de tous âges ?
            </p>
            <p>
              Si votre projet nécessite une reprise de données, nous en tenons
              compte et l'anticipons.
            </p>
          </div>

          <div class="col mx-auto">
            <div class="experience-entry-heading">
              <div class="illu">
                <img
                  src="/images/accueil/restituons2.svg"
                  class="illu"
                  alt="nous restituons la donnée"
                />
              </div>
              <h3>Restitution</h3>
            </div>
            <p>
              Vous devez exposer vos données grâce à une application web, une
              application mobile, une API ou encore un support physique ?
            </p>
            <p>
              Nous prenons le temps de répondre avec vous aux enjeux de partage,
              de sécurité et de confidentialité.
            </p>
          </div>
        </div>
      </section>

      <section class="container-fluid anchor pb-5 skills-section">
        <h2 class="text-center mb-5">Notre Coopérative</h2>

        <div class="container">
          <div class="row text-justify m-2">
            <div class="col-md-10 mx-auto">
              <p class="p-1">
                INCAYA est une SCOP :
                <mark>une Société COopérative et Participative</mark>. Chez nous
                la gouvernance est démocratique, la pérennité des emplois et le
                projet d’entreprise ont la priorité sur le profit. Pour nous ça
                veut dire beaucoup.
              </p>
              <p class="p-1">
                Pour vous ce sont surtout <mark>des garanties</mark> : un
                prestataire qui privilégie la <mark>solidité financière</mark>,
                des interlocuteurs particulièrement impliqués, l’envie de
                travailler sur le <mark>long terme et en confiance</mark>.
              </p>
            </div>
          </div>
        </div>

        <div class="container d-flex-block text-center mt-5 pb-5">
          <a href="/la-cooperative/" class="btn btn-dark"
            >Apprenez-en plus sur INCAYA</a
          >
        </div>
      </section>

      <section class="container-fluid anchor pb-5 reference-section">
        <h2 class="text-center mb-5">Ils nous font confiance</h2>

        <div class="row scrolling-wrapper-flexbox mb-5" id="primary-skills">
          <div class="card-client">
            <div class="card-body">
              <p class="card-text">
                <img src="/images/clients/arte.svg" alt="Arte" title="Arte" />
              </p>
            </div>
          </div>

          <div class="card-client">
            <div class="card-body">
              <p class="card-text">
                <img
                  src="/images/clients/amnesty.svg"
                  alt="Amnesty International"
                  title="Amnesty International"
                />
              </p>
            </div>
          </div>

          <div class="card-client">
            <div class="card-body">
              <p class="card-text">
                <img
                  src="/images/clients/normandie.svg"
                  alt="Region Normandie"
                  title="Region Normandie"
                />
              </p>
            </div>
          </div>

          <div class="card-client">
            <div class="card-body">
              <p class="card-text">
                <img
                  src="/images/clients/respe.png"
                  alt="Réseau d'Epidémio-Surveillance en Pathologie Equine"
                  title="Réseau d'Epidémio-Surveillance en Pathologie Equine"
                />
              </p>
            </div>
          </div>

          <div class="card-client">
            <div class="card-body">
              <p class="card-text">
                <img
                  src="/images/clients/ledome.png"
                  alt="Le Dôme"
                  title="Le Dôme"
                />
              </p>
            </div>
          </div>

          <div class="card-client">
            <div class="card-body">
              <p class="card-text">
                <img
                  src="/images/clients/cgscop.png"
                  alt="Confédération générale des SCOP"
                  title="Confédération générale des SCOP"
                />
              </p>
            </div>
          </div>
        </div>

        <div class="container d-flex-block text-center mt-5 pb-5 mb-3">
          <a href="/nos-references/" class="btn btn-dark"
            >Découvrez toutes nos références</a
          >
        </div>
      </section>

      <section class="container-fluid anchor pb-5 recent-posts-section">
        <h2 class="text-center mb-5">Nos derniers articles</h2>

        <div class="container">
          <div class="row" id="recent-post-cards">
            <div class="col mb-4">
              <div class="card">
                <div class="card-head">
                  <a href="/blog/nodemon-sans-npm-ni-nodemon/" title="Lire plus"
                    ><img
                      class="card-img"
                      src="/blog/nodemon-sans-npm-ni-nodemon/hero_hu430d612aca46815a17f469f64151589b_8396_450x200_fill_q75_box_center.jpg"
                      alt="Card image cap"
                  /></a>
                </div>
                <div class="card-body">
                  <h3 class="card-title">nodemon, sans npm ni nodemon</h3>
                  <p class="card-text post-summary">
                    Comment faire pour relancer automatiquement un processus
                    node lorsque le code est modifié, sans npm ni nodemon ?
                  </p>
                </div>
                <div class="card-footer">
                  <div class="project-tags-holder">
                    <span class="badge btn-info"> javascript </span>

                    <span class="badge btn-info"> anti-npm-npm-club </span>
                  </div>

                  <time datetime="06/07/2023" class="float-left"
                    >6 juil. 2023</time
                  >

                  <a
                    href="/blog/nodemon-sans-npm-ni-nodemon/"
                    title="Lire plus"
                    class="float-right btn btn-outline-info btn-sm"
                    >Lire</a
                  >
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <div class="card-head">
                  <a href="/blog/edgedatacam-ia-papillons/" title="Lire plus"
                    ><img
                      class="card-img"
                      src="/blog/edgedatacam-ia-papillons/hero_hu5baab9244efa47ea86608d4cf265a57a_70349_450x200_fill_q75_box_center.jpg"
                      alt="Card image cap"
                  /></a>
                </div>
                <div class="card-body">
                  <h3 class="card-title">
                    Edge Data Cam, l'IA au service de la biodiversité
                  </h3>
                  <p class="card-text post-summary">
                    Retour sur une preuve de concept : le deep learning pour
                    mieux connaître les papillons de nuit
                  </p>
                </div>
                <div class="card-footer">
                  <div class="project-tags-holder">
                    <span class="badge btn-info"> hétérocères </span>

                    <span class="badge btn-info"> papillons </span>

                    <span class="badge btn-info"> deep learning </span>

                    <span class="badge btn-info">
                      intelligence artificielle
                    </span>

                    <span class="badge btn-info"> faune </span>

                    <span class="badge btn-info"> raspberry pi </span>

                    <span class="badge btn-info"> biodiversité </span>

                    <span class="badge btn-info"> iot </span>

                    <span class="badge btn-info"> caméra </span>

                    <span class="badge btn-info">
                      sciences participatives
                    </span>

                    <span class="badge btn-info">
                      éducation à l'environnement
                    </span>
                  </div>

                  <time datetime="30/06/2023" class="float-left"
                    >30 juin 2023</time
                  >

                  <a
                    href="/blog/edgedatacam-ia-papillons/"
                    title="Lire plus"
                    class="float-right btn btn-outline-info btn-sm"
                    >Lire</a
                  >
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <div class="card-head">
                  <a
                    href="/blog/camera-open-source-pour-observer-la-faune/"
                    title="Lire plus"
                    ><img
                      class="card-img"
                      src="/blog/camera-open-source-pour-observer-la-faune/hero_hudda325bdc637f94630ad2ef4bd536bd1_484070_450x200_fill_box_center_3.png"
                      alt="Card image cap"
                  /></a>
                </div>
                <div class="card-body">
                  <h3 class="card-title">
                    La FauneCam, une caméra open source pour observer la faune
                    qui nous entoure
                  </h3>
                  <p class="card-text post-summary">
                    Un commun numérique et technique au service des sciences
                    participatives et de l'éducation à l'environnement.
                  </p>
                </div>
                <div class="card-footer">
                  <div class="project-tags-holder">
                    <span class="badge btn-info"> faune </span>

                    <span class="badge btn-info"> raspberry pi </span>

                    <span class="badge btn-info"> biodiversité </span>

                    <span class="badge btn-info"> iot </span>

                    <span class="badge btn-info"> caméra </span>

                    <span class="badge btn-info">
                      sciences participatives
                    </span>

                    <span class="badge btn-info">
                      éducation à l'environnement
                    </span>
                  </div>

                  <time datetime="29/06/2023" class="float-left"
                    >29 juin 2023</time
                  >

                  <a
                    href="/blog/camera-open-source-pour-observer-la-faune/"
                    title="Lire plus"
                    class="float-right btn btn-outline-info btn-sm"
                    >Lire</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container-fluid anchor pb-5 projects-section">
        <h2 class="text-center mb-5">Open-Source</h2>

        <div class="container filtr-projects">
          <div class="row" id="project-card-holder">
            <div class="col mb-4" data-category="all, documentation">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex">
                    <a
                      href="https://github.com/incaya/incaya-documentation"
                      title="Voir le projet sur Github"
                      target="_blank"
                      rel="noopener"
                    >
                      <h3 class="card-title mb-0">Incaya documentation</h3>
                    </a>
                  </div>
                  <div class="sub-title">
                    <span>Mainteneurs</span>
                  </div>
                </div>
                <div class="card-body text-justify pt-1 pb-1">
                  <p>Image Docker pour gérer la documentation de projets.</p>
                </div>

                <div class="card-footer">
                  <div class="project-card-footer">
                    <div class="project-tags-holder float-left">
                      <span class="badge btn-info"> documentation </span>
                    </div>

                    <a
                      href="https://github.com/incaya/incaya-documentation"
                      title="Voir le projet sur Github"
                      class="float-right btn btn-outline-info btn-sm"
                      target="_blank"
                      rel="noopener"
                      >Voir</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col mb-4" data-category="all, openbadges">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex">
                    <a
                      href="https://github.com/incaya/generateur-graphique-open-badge-ea"
                      title="Voir le projet sur Github"
                      target="_blank"
                      rel="noopener"
                    >
                      <h3 class="card-title mb-0">
                        Générateur d'Open badge pour l'enseignement agricole
                      </h3>
                    </a>
                  </div>
                  <div class="sub-title">
                    <span>Mainteneurs</span>
                  </div>
                </div>
                <div class="card-body text-justify pt-1 pb-1">
                  <p>
                    Un générateur de visuel pour open badge dédié à
                    l’enseignement agricole.
                  </p>
                </div>

                <div class="card-footer">
                  <div class="project-card-footer">
                    <div class="project-tags-holder float-left">
                      <span class="badge btn-info"> openbadges </span>
                    </div>

                    <a
                      href="https://github.com/incaya/generateur-graphique-open-badge-ea"
                      title="Voir le projet sur Github"
                      class="float-right btn btn-outline-info btn-sm"
                      target="_blank"
                      rel="noopener"
                      >Voir</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col mb-4" data-category="all, science participative">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex">
                    <a
                      href="https://github.com/incaya/farmbot-school-frontend"
                      title="Voir le projet sur Github"
                      target="_blank"
                      rel="noopener"
                    >
                      <h3 class="card-title mb-0">
                        Farmbot School frontend application
                      </h3>
                    </a>
                  </div>
                  <div class="sub-title">
                    <span>Mainteneurs</span>
                  </div>
                </div>
                <div class="card-body text-justify pt-1 pb-1">
                  <p>
                    Une application permettant d’utiliser le
                    <a href="https://farmbot.fr/">farmbot</a> dans les écoles.
                  </p>
                </div>

                <div class="card-footer">
                  <div class="project-card-footer">
                    <div class="project-tags-holder float-left">
                      <span class="badge btn-info">
                        science participative
                      </span>
                    </div>

                    <a
                      href="https://github.com/incaya/farmbot-school-frontend"
                      title="Voir le projet sur Github"
                      class="float-right btn btn-outline-info btn-sm"
                      target="_blank"
                      rel="noopener"
                      >Voir</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col mb-4" data-category="all, science participative">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex">
                    <a
                      href="https://github.com/incaya/NaturewatchCameraServer"
                      title="Voir le projet sur Github"
                      target="_blank"
                      rel="noopener"
                    >
                      <h3 class="card-title mb-0">Nature watch CameraServer</h3>
                    </a>
                  </div>
                  <div class="sub-title">
                    <span>Contributeurs</span>
                  </div>
                </div>
                <div class="card-body text-justify pt-1 pb-1">
                  <p>
                    A Python / OpenCV camera server to stream Pi camera content
                    to a remote client through a website.
                  </p>
                </div>

                <div class="card-footer">
                  <div class="project-card-footer">
                    <div class="project-tags-holder float-left">
                      <span class="badge btn-info">
                        science participative
                      </span>
                    </div>

                    <a
                      href="https://github.com/incaya/NaturewatchCameraServer"
                      title="Voir le projet sur Github"
                      class="float-right btn btn-outline-info btn-sm"
                      target="_blank"
                      rel="noopener"
                      >Voir</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer
      id="footer"
      class="container-fluid text-center align-content-center footer pb-2"
    >
      <div class="container pt-5">
        <div class="row text-center">
          <div class="col-md-3 col-sm-12 text-left ml-5">
            <span class="footer-title">Navigation</span>
            <nav arial-label="menu du pieds de page">
              <ul>
                <li class="nav-item">
                  <a class="smooth-scroll" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="smooth-scroll" href="/la-cooperative/"
                    >Coopérative</a
                  >
                </li>
                <li class="nav-item">
                  <a class="smooth-scroll" href="/nos-references">Références</a>
                </li>
                <li class="nav-item">
                  <a class="smooth-scroll" href="/blog/">Blog</a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-md-4 col-sm-12 text-left ml-5">
            <span class="footer-title">Contactez-nous</span>
            <ul>
              <li>
                <a href="mailto:contact@incaya.fr">
                  <span
                    ><img
                      src="/icons/envelope-solid.svg"
                      class="svg svgclair"
                      alt="icone email"
                    />
                    contact@incaya.fr</span
                  >
                </a>
                <a href="https://github.com">
                  <span
                    ><img
                      src="/icons/github.svg"
                      class="svg svgclair"
                      alt="lien vers Github"
                    />Github</span
                  >
                </a>
              </li>

              <li>
                <a
                  rel="me"
                  href="https://mastodon.scop.coop/@incaya"
                  title="Aller sur notre page Mastodon"
                >
                  <span
                    ><img
                      src="/icons/mastodon.svg"
                      class="svg svgclair"
                      alt="lien vers Mastodon"
                    />Mastodon</span
                  >
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12 text-center mt-3">
            <a
              href="/"
              class="logo-footer-link"
              aria-label="Logo du footer Incaya retour en haut de page"
              ><img
                src="/images/logo-mobile.svg"
                alt="logo incaya"
                class="logo-footer"
            /></a>
          </div>
        </div>
      </div>
      <hr />
      <div class="container">
        <div class="row text-center mb-2">
          <div class="col">
            <a
              href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr"
              title="Creative Commons"
              rel="noopener"
              target="_blank"
              class="logo-footer-link"
            >
              <img
                src="/icons/cc.svg"
                alt="logo creative commons"
                class="svg svgclair"
            /></a>
            2016-2023 INCAYA •
            <a
              href="/mentions-legales/"
              title="mentions légales"
              rel="noopener"
              class="logo-footer-link"
              >Mentions Légales</a
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
