<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>{{- .Site.Title -}}</title>
    {{ $siteDescription := .Site.Params.description }}
    {{ if (index .Site.Data .Site.Language.Lang).site }}
      {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
      {{ if $siteConfig.description }}
        {{ $siteDescription = $siteConfig.description }}
      {{ end }}
    {{ end }}
    <meta name="description" content="{{ $siteDescription }}" />
    
    <!-- import common headers -->
    {{- partial "header.html" . -}}


    <!--================= custom style overrides =========================-->
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/experiences.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/recent-posts.css" | relURL }}"/>



    
  </head>
  <body data-spy="scroll" data-target="#top-navbar" data-offset="100">

    <!--- NAVBAR ------------------------->
    {{- partial "navigators/custom-navbar.html" . -}}


    <!--- SECTIONS ------------------------>


    {{ $sections:= site.Data.sections }}
      {{ range sort $sections "section.weight" }}
        {{ if .section.template }}
              {{- partial .section.template . -}}
            {{ else }}
              {{- partial (printf "sections/%s.html" (replace (lower .section.id) " " "-")) . -}}
        {{ end }}
      {{ end }}
    

    <!--- ADD FOOTER ----------------------->
    {{ $footerTemplate:= site.Params.footer.template | default "footer.html" }}
    {{- partial $footerTemplate . -}}


  </body>
</html>
