{{ define "main" }}

<section class="hero">
    <div>
        <h1>Incaya</h1>
        <h2>Coopérative de services du numérique</h2>
        <p>Nous sommes une entreprise associant des professionnels aux expertises techniques et méthodologiques variées, au service de vos idées.</p>
        <p>Si la colonne vertébrale de nos savoir-faire s’articule autour de la donnée, notre capacité de veille et de défrichage technologique nous autorise à inventer des prototypes logiciels et matériels originaux, résilients et performants pour vos projets scientifiques, éducatifs et culturels.</p>
        <p>La somme de nos expériences nous permet également d’assurer l’Assistance à Maîtrise d’Ouvrage de votre besoin de création ou de refonte de système d’information.</p>
    </div>
    <div>
        <img src="/images/illustrations/data.png" />
    </div>
</section>

<section>
    <div class="section-wrapper">
        <h1>Nous sommes des artisans de la donnée.</h1>
        <p>L'informatique ne remplacera jamais un savoir-faire métier. Par contre, cela apporte une indéniable aide et capacité d'invention quand il s'agit de manipuler la donnée, pour peu que cette donnée soit de qualité. Que ce soit de sa captation, à son nettoyage jusqu'à sa présentation, nous nous assurons que votre donnée soit optimisée pour vous permettre de l'utiliser au mieux dans votre métier.</p>
    </div>
</section>

<section class="section-two-column">
    <div class="section__item section__item--start">
        <img src="/images/illustrations/getdata.png" />
    </div>
    <div class="section__item section__item--end">
        <h2>Obtenir la donnée</h2>
        <p>Si une tendance actuelle tend à rendre tous les dispositifs numériques sources de donnée potentielle, nous pensons qu'une interface de captation claire, consentie et inclusive est la meilleure approche pour constituer une donnée de qualité.</p>
        <p>Que cela soit depuis une interface web offrant des formulaires compréhensibles, inclusifs et fiables, ou depuis des dispositifs plus expérimentaux basés sur de l'iot, nous nous portons garants d'une acquisition propre et évolutive (dans le sens on peut pas tout prévoir, mais on pourra en faire qq chose) de la donnée brute.</p>
    </div>
</section>

<section class="section-two-column">
    <div class="section__item section__item--start">
        <img src="/images/illustrations/managedata.png" />
    </div>
    <div class="section__item section__item--end">
        <h2>Travailler la donnée</h2>
        <p>Nous pouvons réorganiser la donnée brute bien captée, mais aussi assainir des sources de données legacy, à travers un outillage BI performant, des db variées et une architecture adaptée.</p>
        <p>Nous ne sommes pas des data scientistes, pas de big data ni de data learning à l'aveugle, mais nous oeuvrons pour que vous puissiez justement exploiter au mieux la donnée ciblée et qualitative dans votre métier.</p>
    </div>
</section>

<section class="section-two-column">
    <div class="section__item section__item--start">
        <img src="/images/illustrations/displaydata.png" />
    </div>
    <div class="section__item section__item--end">
        <h2>Restituer la donnée</h2>
        <p>Le résultat de l'exploitation de la donnée ne mérite rien de mieux que d'être exposé. Et pas forcement sous forme numérique, mais via des rapports écrits ou simplement comme carburant du métier.</p>
        <p>Mais nous, on peut l'exposer via des API, des sites web, des tableaux de bord, des applications ou des disposif physiques plus expérimentaux ?</p>
    </div>
</section>

<section>
    <div class="section-wrapper">
        <h1>Nous assurons l'Assistance à Maîtrise d'Ouvrage de vos système d'information</h2>
        <p>Du site web permettant de créer des open-badges aux systèmes complexes de système d'information pour l'audiovisuel et passant par des expérimentations de badgeuses pour tiers lieux, nous avons des années d'expérience passées à forger nos savoir-faire.</p>
        <p>Nous sommes donc à la fois experts techniques et consultants fonctionnels, en nous vous accompagnons de la définition du besoin à la livraison, en passant par l'appel d'offres, le choix des prestataires, le recrutement et la planification.</p>
    </div>
</section>

{{ end }}
