{{ define "meta" }}
<title>INCAYA - Nos Références </title>
<meta name="description" content={{ .Page.Description }} />
{{ end }}
{{ define "main" }}
<article class="container-fluid anchor pb-4 mt-5">
  <h1 class="title text pb-5">Ils nous font confiance</h1>
  <div class="container">
    <div class="row mb-5">
      {{ range $.Site.Data.clients.current }}
      {{ partial "cards/client-highlighted.html" . }}
      {{ end }}
    </div>
    <h2 class="title text pb-5" >Ainsi que</h1>
    <div class="row scrolling-wrapper-flexbox mb-5 ">
      {{ range $.Site.Data.clients.past }}
      {{ partial "cards/client.html" . }}
      {{ end }}
    </div>
  </div>
</article>
{{ end }}
