{{ define "main" }}

<section class="hero nosreferences">
  <div class="section-hero-wrapper">
    <div class="hero-text">
      <h1>{{ .Title }}</h1>
      <p>Voici quelques uns de nos clients et les projets qu'ils ont choisi de nous confier.</p>
    </div>
  </div>
</section>

<section class="section-two-column">

  {{ range $.Site.Data.clients.structures }}
  <div class="section-two-column-wrapper">
    <div class="section__item section__item--start">
      <img class="logo-client" src="/clients/{{ .logo }}" alt="{{ .name }}" />
    </div>
    <div class="section__item section__item--end list-content">
      {{ if .description }}

      <p class="description">{{ .description }}{{ if .link }} [<a href="{{ .link }}" title="{{ .name }}">site
          web</a>]{{end }}
      </p>
      {{ end }}
      {{ if .mission }}
      <p class="mission">{{ .mission }}</p>
      {{ end }}
    </div>
  </div>
  </div>
  {{ end }}

</section>

{{ end }}