<div class="col mb-4">

    <div class="card">
      <div class="card-head">
        <a href="{{ .RelPermalink }}" title="Lire plus"><img class="card-img" src='{{ partial "helpers/get-small-hero.html" . }}'
          alt="Card image cap"/></a>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ .Title }}</h3>
        <p class="card-text post-summary"> {{ .Description }}</p>
      </div>
      <div class="card-footer">
        <div class="project-tags-holder">   
          {{ partial "tags.html" .}}
        </div>

        <time datetime="{{ .Date | time.Format ":date_short"}}" class="float-left">{{ .Date | time.Format ":date_medium" }}</time>
         
        <a href="{{ .RelPermalink }}" title="Lire plus" class="float-right btn btn-outline-info btn-sm">Lire</a>
      </div>
    </div>

</div>
