<div class="col mb-4">
  <div class="card card-client-highlighted" style="text-align: center">

    <div class="card-body">
      <p class="text-center d-flex mt-3" style="height:90px; align-items:center; justify-content:center;">
        <img class="pb-4" src="{{ .logo }}" alt="{{ .name }}" title="{{ .name }}" style="width:240px;"/>
      </p>
      <p>{{ .description | markdownify }}</p>
    </div>
    <div class="card-footer">
      <div class="project-tags-holder float-left">
        {{ range .interventions }}
        <span class="badge btn-info">
          {{ .tag }}
          <span class="tooltiptext" role="tooltip">{{ .label }}</span>
        </span>
        {{ end }}
      </div>
      <!-- possibilité de mettre leur site ci-dessous -->
      {{ if .blog }}
      <a href="{{ .blog }}" title="Plus d'informations sur notre intervention" class="float-right btn btn-outline-info btn-sm">Quelques détails</a> 
      {{ end }}
    </div>
  </div>
</div>
<br />
