{{ define "main" }}

<section id="single">
    <h1 class="title">{{ .Title }}</h1>

    <div class="content">
      {{ .Content }}
    </div>
</section>

<section id="archive" class="grid">
    {{ range .Data.Pages }}
        <article>
            <header>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </header>
                {{ .Params.description }}    
            <footer>Un truc ?</footer>
        </article>
    {{ end }}          
</section>

{{ end }}
