<nav class="navbar navbar-expand-xl top-navbar final-navbar" id="top-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
            {{- site.Title -}}
        </a>
        <button
      class="navbar-toggler navbar-dark"
      id="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#top-nav-items"
      aria-label="menu"
        >
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="top-nav-items">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            
            <li  class="nav-item">
                <a class="nav-link" href="/cooperative/">Notre Coopérative</a>
            </li>    

            <li  class="nav-item">
                <a class="nav-link" href="/#references">Références</a>
            </li>    
            
            <div class="dropdown-divider" id="top-navbar-divider"></div>

            <li class="nav-item">
                <a class="nav-link" id="blog-link" href="/blogs/">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/posts/index.xml" title="RSS"><i class="fa-solid fa-square-rss"></i></a>
            </li>
          </ul>
    </div>            
   </nav>