{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 skills-section mb-5 mt-5">
  
    <h2 class="text-center mt-4">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>

  <div class="container" >
    <div class="row pt-sm-2 pt-md-4 text-justify m-4">
      
        <p class="p-1">
          {{ .section.overview | markdownify }}
        </p>
      
    </div>
  </div>

  <div class="container d-flex-block text-center mt-5">
    <a href="/cooperative/" class="btn btn-dark">Découvrez notre équipe</a>
  </div>
</div>
