{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 experiences-section mb-5 mt-5">
  
    <h2 class="text-center mt-4">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h2>


  <div class="container text-justify align-items-center d-flex flex-row mb-5 mt-5" style="flex-wrap:wrap;">

   {{ $totalExperiences:=  .experiences }}
   {{ range $index,$experience:= .experiences }}
        <div class="col mx-auto " style="min-width:240px; max-width:300px; height:600px;">
      
        <!-- UNE COL PAR PARTIE -->
        <div class="col">
            <div class="experience-entry-heading">
                {{ $position:= index .positions 0 }}
        
                    <!-- IMAGE -->
                    {{ if .partie.illustration }}
                    <div class="illu">
                        {{ .partie.illustration | markdownify  }}
                    </div>
                    {{ end }}
                <!-- TITRE DE LA PARTIE -->
                <h4>{{ $position.designation }}</h4>
            </div>
            <!-- PARAGRAPHE -->
            <p>{{ .partie.overview | markdownify }}</p>
        
        </div>
      
    </div>
   {{ end }}

  </div>
</div>
