{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 projects-section mt-5 mb-5" id="{{ $sectionID }}">
  
    <h2 class="text-center mt-4">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
        <br>
 

  <div class="container filtr-projects">
    <div class="row" id="project-card-holder">
      {{ range .projects }}
        {{ partial "cards/project" . }}
      {{ end }}
    </div>
  </div>
</div>
