{{ define "main" }}

<section class="hero">
    <div class="section-hero-wrapper">
        <div class="hero-text">
            <h1>Le blog</h1>
            <p>Nos articles et publications</p>
        </div>
    </div>
</section>
<section>
    <div class="section-wrapper">
        {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="group">
            <h3 class="key">
                {{ .Key }}
            </h3>

            {{ range .Pages }}
            <div class="value">
                <div class="date">
                    <time datetime="{{ .PublishDate }}">{{ i18n "publishDateShort" . }}</time>
                </div>
                <div class="title">
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>

                    {{ with .Params.tags }}
                    <div class="tags">
                        {{ range . }}
                        <a href="{{ " tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </div>
                    {{ end}}
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>

</section>


{{ end }}