{{ define "meta" }}

<title>{{ .Page.Title }}</title>
<meta name="description" content={{ .Page.Description }} />
{{ end }}

{{ define "main" }}
<div class="container-fluid anchor pb-4 about-section mt-5">
  <div class="title text">
    <h1>{{ .Page.Title }} <a href="/blog/index.xml" title="RSS"><img src="/icons/rss-solid.svg"
          class="svg svgfonce" alt="icone du flux rss"></i></a></h1>
  </div>
  <div class="container">
    <div class="row" id="recent-post-cards">
      {{ range (where site.RegularPages.ByDate.Reverse "Type" "in" "blog" )}}
      {{ partial "cards/article.html" . }}

      {{ end }}
    </div>
  </div>
</div>

{{ end }}
