{{ define "meta" }}
  <title>{{ .Page.Title }}</title>
  <meta name="description" content={{ .Page.Description  }} />
{{ end }}

{{ define "main" }}
<section class="content-section" id="content-section">
  <div class="content container-fluid" id="content">
    <div class="title">
      <a class="float-right" href="/blog/index.xml" title="RSS"><img src="/icons/rss-solid.svg" class="svg svgfonce" alt="icone du flux rss"></i></a>
      <h1> Tous nos articles </h1>
      <!-- vide si description vide dans fichier MD -->
      <h3></h3>


    </div>

    <div class="container-fluid post-card-holder" id="post-card-holder">
      {{ $blogs := where .RegularPagesRecursive "Layout" "!=" "search" }}
      <!--gestion du nombre de blog par page-->
      {{ $paginator := .Paginate $blogs 12 }}
      {{ range $paginator.Pages }}
          {{ partial "cards/article.html" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}


