<div class="col-10 col-lg-8">
    <div class="experience-entry-heading">
        {{ $position:= index .positions 0 }}
        <!-- For single position, give emphasis on the designation-->
        <h4>{{ $position.designation }}</h4>
    </div>
    <!-- Add company overview -->
    <p>{{ .company.overview | markdownify }}</p>
    <!-- Add the responsibilities handled at this position -->
    {{ if $position.responsibilities }}
    <h6 class="text-muted">{{ i18n "responsibilities" }}</h6>
    <ul class="justify-content-around">
    {{ range $position.responsibilities }}
        <li>{{ . | markdownify }}</li>
    {{ end }}
    </ul>
    {{ end }}
</div>
