<div class="col mb-4" data-category='all, {{ delimit  .tags ","}}'>
  <div class="card">
      <div class="card-header">
        <div class="d-flex">
          <a href="{{ .repo }}" title="Voir le projet sur Github" target="_blank" rel="noopener">
          <h5 class="card-title mb-0">{{ .name }}</h5>
          </a>
        </div>
        <div class="sub-title">
          <span>{{ .role }}</span>
        </div>
      </div>
    <div class="card-body text-justify pt-1 pb-1">
      <p>{{ .summary | markdownify }}</p>
    </div>
    <!-- si tags les affiche en pied de carte -->
    <div class="card-footer">
      <div class="project-card-footer">
        {{ if .tags }}
        <div class="project-tags-holder float-left">
          {{ range $index,$tag:= .tags }}
          <span class="badge btn-info">
            {{ $tag }}
          </span>
          {{ end }}
        </div>
        {{ end }}
        <a href="{{ .repo }}" title="Voir le projet sur Github" class="float-right btn btn-outline-info btn-sm" target="_blank" rel="noopener">Voir</a>
      </div>
    </div>
  </div>
</div>
