  <footer id="footer" class="container-fluid text-center align-content-center footer pb-2">
    <div class="container pt-5">
      <div class="row text-center">
        
        <div class="col-md-3 col-sm-12 text-left ml-5">
          <h4>Navigation</h4>
          <nav arial-label="menu du pieds de page">
            <ul>
                <li class="nav-item">
                    <a class="smooth-scroll" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="smooth-scroll" href="/la-cooperative/">Coopérative</a>
                </li>    
                <li class="nav-item">
                    <a class="smooth-scroll" href="/nos-references">Références</a>
                </li>       
                <li class="nav-item">
                    <a class="smooth-scroll" href="/blog/">Blog</a>
                </li>
            </ul>
          </nav>
        </div>

        <div class="col-md-4 col-sm-12 text-left ml-5">
          <h4>Contactez-nous</h4>
          <ul>
                <li>
                  <span><img src="/icons/envelope-solid.svg" class="svg svgclair" alt="icone email"></i></span> <span>commence par contact et finit par incaya.fr</span>
                </li>

                <li><a href="https://indieweb.social/web/@inkaya" title="Mastodon" target="_blank" rel="noopener">
                  <span><img src="/icons/mastodon.svg" class="svg svgclair" alt="icone mastodon"></span> <span>Mastodon</span></a></li>

                <li><a href="https://github.com/incaya" title="github" target="_blank" rel="noopener">
                  <span><img src="/icons/github.svg" class="svg svgclair" alt="icone github"></span> <span>Github</span></a></li>
          </ul>
        </div>


        <div class="col-md-3 col-sm-12 text-center mt-3">
          <a href="/" class="logo-footer-link"><img src="/images/logo-mobile.svg" alt="logo incaya" class="logo-footer"></a>
        </div>
       

      </div>
    </div>

    
    <hr />
    <div class="container">
      <div class="row text-center mb-2">
        <div class="col-md-4 "> <a href="/mentions-legales/" title="mentions légales" rel="noopener">Mentions Légales</a></div>
        <div class="col-md-4 ">	&#169; 2022 INCAYA </div>
        <div class="col-md-4 "></div>
      </div>
    </div>
  </footer>

