<div class="navbar">
  <!-- titre du site -->
  <a class="brand" href="/">INCAYA</a> 
  <!-- menu responsive sans JS à modifier manuellement -->
  <nav class="menu" aria-label="menu de navigation">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <ul>
              <li><a class="nav-link" href="/">Accueil</a></li>
              <li><a class="nav-link" href="/la-cooperative">Coopérative</a></li>
              <li><a class="nav-link" href="/#references">Références</a></li>
              <li><a class="nav-link" id="blog-link" href="/blog/">Blog</a></li>
              <li><a class="nav-link" href="/blog/index.xml" title="RSS"><i class="fa-solid fa-square-rss"></i></a></li>
            </ul>
  </nav>
</div>
