<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />
    <!-- META -->
    <title>{{ (partial "utils/title.html" (dict "$" . "title" .Title)).title }}</title>
    <meta name="author" content="{{ .Site.Params.author }}" />
    {{- $description := .Description | default (partial "utils/summary.html" .) | default .Site.Params.description | plainify -}}
    <meta name="description" content="{{ $description }}" />
    <!-- SEO -->
    <link rel="canonical" href="{{ .Permalink }}" />
    <!-- JSON-LD -->
    {{- with .Site.Params.jsonLD -}}
        {{ partial "utils/json-ld.html" (dict "$" $ "description" $description) }}
    {{- end }}
    <!-- Open Graph -->
    {{- with .Site.Params.openGraph -}}
        {{ partial "utils/open-graph.html" (dict "$" $ "description" $description) }}
    {{- end }}
    <!-- Twitter Cards -->
    {{- with .Site.Params.twitterCards -}}
        {{ partial "utils/twitter-cards.html" (dict "$" $) }}
    {{- end }}
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300,900&display=swap"
        rel="stylesheet"> {{ $sass := resources.Get "sass/style.scss" }}
    {{ $style := $sass | resources.ToCSS (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap"
    true) | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}">
</head>
