<!-- ============ import common css ========== -->
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/layouts/main.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/navigators/navbar.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/fontawesome/css/all.min.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
<!-- Call on cooperative.html  -->
<link rel="stylesheet" href="{{ "/css/layouts/single.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/layouts/list.css" | relURL }}">
<link rel="stylesheet" href="{{ "/css/layouts/single.css" | relURL }}"/>

<!--=================== RSS ==============================-->
<link rel="alternate" type="application/rss+xml" title="Flux RSS du blog Incaya" href="/blogs/index.xml" />

<!-- META -->
<!-- SEO -->
<!-- JSON-LD -->
<!-- Open Graph -->
<!-- Twitter Cards -->
<!-- FAVICON -->
<!-- CSS -->

