<div class="navbar">
  <!-- titre du site -->
  <a class="brand" href="/">INCAYA</a> 
  <!-- menu responsive sans JS à modifier manuellement -->
  <nav class="menu" aria-label="menu de navigation">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <ul>
              <a class="nav-link accueil" href="/"><li>Accueil</li></a>
              <a class="nav-link cooperative" href="/la-cooperative"><li>Coopérative</li></a>
              <a class="nav-link references" href="/#references"><li>Références</li></a>
              <a class="nav-link blog" href="/blog/"><li>Blog</li></a>
            </ul>
  </nav>
</div>
