{{ define "main" }}

<section class="hero">
  <div class="section-hero-wrapper">
    <div class="hero-text">
      <h1>{{ .Title }}</h1>
      <p>Incaya est une SCOP : une Société COopérative et Participative.<br />Chez nous la gouvernance est démocratique, la
        pérennité des emplois et le projet d’entreprise ont la priorité sur le profit. Pour nous ça veut dire beaucoup.
      </p>
      <p>Pour vous ce sont surtout des garanties : un prestataire qui privilégie la solidité financière, des
        interlocuteurs particulièrement impliqués, l’envie de travailler sur le long terme et en confiance.</p>
    </div>
  </div>
</section>

<section class="section-two-column">
  <div class="section-two-column-wrapper">
    <div class="section__item section__item--start avatar">
      <img src="/images/profiles/profile.jpeg" />
    </div>
    <div class="section__item section__item--end">
      <h2>Thomas Berriot</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa odio, faucibus at eleifend blandit,
        pulvinar ac nibh. Aenean non molestie turpis. Sed ac eros cursus, vehicula leo eu, luctus massa. Suspendisse
        sollicitudin est id orci pulvinar, ut dictum turpis iaculis. Proin feugiat lobortis odio et dignissim. Proin
        semper in purus quis semper. Integer nisl augue, ornare eu dui eget, feugiat rhoncus enim. Curabitur nec dolor
        sollicitudin, tempus purus non, congue ex. Suspendisse potenti. In hac habitasse platea dictumst. Donec commodo
        orci in purus sodales rutrum. Donec sed tellus in turpis consequat aliquet id eget velit. Nulla volutpat sem nec
        sapien eleifend volutpat. Phasellus non varius dui, vitae imperdiet justo. Curabitur vulputate ante sem, non
        condimentum diam ultricies a. Mauris ut molestie nunc, porta ultrices massa. </p>
    </div>
  </div>
</section>

<section class="section-two-column">
  <div class="section-two-column-wrapper">
    <div class="section__item section__item--start avatar">
      <img src="/images/profiles/profile.jpeg" />
    </div>
    <div class="section__item section__item--end">
      <h2>Alexis Janvier</h2>
      <p>Ut ligula magna, pulvinar eu tempus ut, sollicitudin id dolor. Nunc volutpat nibh eget nisl pretium pulvinar.
        Fusce pretium, nibh ac maximus luctus, nibh dolor ultrices dui, non gravida quam ipsum at neque. Mauris in justo
        dapibus, bibendum massa quis, vehicula odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Suspendisse aliquam quam et faucibus tincidunt. Vivamus egestas a leo in rhoncus. Nulla eu lacinia nibh, nec
        pretium odio. Donec varius justo eros, quis sodales turpis facilisis vitae. Sed suscipit accumsan aliquet. Sed
        id
        hendrerit diam. Donec viverra egestas nunc, quis molestie nisi ornare quis. Quisque posuere, massa sit amet
        ornare
        luctus, eros dolor eleifend neque, at blandit enim nisl id orci. Duis ut diam ex. Vestibulum sit amet nunc ut
        enim
        bibendum mattis. Maecenas nisi odio, sodales a rhoncus quis, fermentum sit amet nulla. </p>
    </div>
  </div>
</section>

<section class="section-two-column">
  <div class="section-two-column-wrapper">
    <div class="section__item section__item--start avatar">
      <img src="/images/profiles/profile.jpeg" />
    </div>
    <div class="section__item section__item--end">
      <h2>Thomas Maziere</h2>
      <p>Nulla consectetur, orci vitae aliquam gravida, leo neque porta nunc, eleifend aliquet erat purus non lorem.
        Aenean ornare metus eget orci malesuada, at mollis lectus volutpat. Sed sagittis id libero et luctus. Donec
        mollis
        augue risus, eleifend auctor quam consectetur id. Ut eget libero tempus enim mattis finibus in quis sapien.
        Curabitur ut nunc vulputate, ullamcorper ipsum eu, faucibus leo. Integer id libero dapibus, luctus dui at,
        aliquam
        arcu. Donec leo sapien, feugiat eu ullamcorper eget, facilisis ultricies eros. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Etiam elit odio, convallis ac libero et, semper
        bibendum nibh.</p>
    </div>
  </div>
</section>

<section>
  <div class="section-wrapper">
    <h2>Un réseau d'entreprises pas comme les autres</h2>
    <p>Les SCOP existent dans tous les secteurs d'activité.</p>
    <p>C'est un statut privilégié pour toute entreprise attachée à la notion de citoyenneté économique et qui privilégie
      la
      construction d'un projet de long terme à la recherche du profit immédiat.</p>
    <p>Si vous êtes indépendant·e ou freelance, vous pouvez également devenir entrepreneur·e salarié·e dans une Coopérative
      d'Activité et
      d'Emploi (<a href="https://www.les-scop.coop/les-cae" title="les CAE">CAE</a>).</p>
    <p>Envie d'en savoir plus sur la coopération  et l'entreprise démocratique ? [<a href="https://www.les-scop.coop/"
        title="Confédération générale des SCOP">www.les-scop.coop</a>]</p>
  </div>
</section>



{{ end }}