{{ define "main" }}

<section class="hero lacooperative">
  <div class="section-hero-wrapper">
    <div class="hero-text">
      <h1>{{ .Title }}</h1>
      <p>Incaya est une SCOP : une Société COopérative et Participative.<br />Chez nous la gouvernance est démocratique,
        la
        pérennité des emplois et le projet d’entreprise ont la priorité sur le profit. Pour nous ça veut dire beaucoup.
      </p>
      <p>Pour vous ce sont surtout des garanties : un prestataire qui privilégie la solidité financière, des
        interlocuteurs particulièrement impliqués, l’envie de travailler sur le long terme et en confiance.</p>
    </div>
  </div>
</section>

<section class="section-two-column">
  <div class="section-two-column-wrapper">
    <div class="section__item section__item--start avatar">
      <img src="/images/profiles/thomasberriot.png" />
    </div>
    <div class="section__item section__item--end">
      <h2>Thomas Berriot</h2>
      <p>Ayant renoncé à être un musicien à temps plein, Thomas s'oriente vers le triturage de données.<br />
        Après 15 années passées dans une ESN dans la Data comme consultant et chef de projet, il choisit l’indépendance
        pour avoir, autant que possible, le choix.<br />
        Le choix d'adapter la technologie au besoin de ses clients en privilégiant l’open source.<br />
        Le choix dans l'organisation de son temps de travail.</p>
      <p>Désireux d’aventure collective, il cofonde Incaya sous le statut coopératif qui lui correspond en tout
        point. Plus habitué à construire des bases de données et de la data visualisation, ce nouveau cadre lui permet
        d’approfondir le développement web notamment dans la conception d’API.<br />
        En bref : dès qu’il s’agit de migrer, nettoyer, organiser ou restituer vos données, vous aurez forcément affaire
        à lui ! </p>
    </div>
  </div>
</section>

<section class="section-two-column">
  <div class="section-two-column-wrapper">
    <div class="section__item section__item--start avatar">
      <img src="/images/profiles/alexisjanvier.png" />
    </div>
    <div class="section__item section__item--end">
      <h2>Alexis Janvier</h2>
      <p>Bien que sensibilisé jeune à l'informatique grâce à un ZX81, un Amstrad 464 puis un Amiga 500, Alexis ne
        s'imaginait pas travailler dans l'informatique, mais plutôt dans la biologie et la médiation scientifique.</p>

      <p>C'est la découverte du web à l'aube des années 2000 qui a changé sa vocation. Depuis, il est devenu développeur
        web indépendant, puis salarié pour des clients aux objectifs variés : exploration des sols, audiovisuel,
        musique, publicité ou encore enseignement.</p>

      <p>Ces années de pratique dans le monde professionnel et dans celui de l'open source on fait émerger chez lui un
        nouvel objectif : maitrisant honnêtement la majorité de ses outils de travail, il était temps de maîtriser
        également le plus important, sa boite. Et c'est avec enthousiasme qu'il a pu relever ce challenge en s'associant
        dans la coopérative Incaya.</p>
    </div>
  </div>
</section>

<section class="section-two-column">
  <div class="section-two-column-wrapper">
    <div class="section__item section__item--start avatar">
      <img src="/images/profiles/thomasmaziere.png" />
    </div>
    <div class="section__item section__item--end">
      <h2>Thomas Maziere</h2>
      <p>D'abord technicien biologiste, Thomas se spécialise dans la programmation des robots qui colonisent petit à
        petit les laboratoires.<br />
        Certificat pro en poche, c'est le web qui devient son nouveau terrain de
        jeu professionnel : dans la fonction publique, le secteur associatif puis en freelance. Avec un appétit
        particulier pour les projets qui améliorent le quotidien ou qui stimulent l'imagination.</p>
      <p>Créer une SCOP ? Une évidence, pour se donner les moyens de travailler avec les personnes qu'il apprécie et
        traduire "même au boulot" des valeurs partagées.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="section-wrapper">
    <h2>Un réseau d'entreprises pas comme les autres</h2>
    <p>Les SCOP existent dans tous les secteurs d'activité.</p>
    <p>C'est un statut privilégié pour toute entreprise attachée à la notion de citoyenneté économique et qui privilégie
      la
      construction d'un projet de long terme à la recherche du profit immédiat.</p>
    <p>Si vous êtes indépendant·e ou freelance, vous pouvez également devenir entrepreneur·e salarié·e dans une
      Coopérative
      d'Activité et
      d'Emploi (<a href="https://www.les-scop.coop/les-cae" title="les CAE">CAE</a>).</p>
    <p>Envie d'en savoir plus sur la coopération et l'entreprise démocratique ? [<a href="https://www.les-scop.coop/"
        title="Confédération générale des SCOP">www.les-scop.coop</a>]</p>
  </div>
</section>



{{ end }}