$noir: #04141A;
$blanc: #FAEDD7;
$cards: #fff8ec;
$clair: #E8CC9B;
$foncé: #0A3240;
$logo: #48c1ee;

body {
	background-color: $blanc;
	position: relative;
}
.read-area {
	background-color: transparent;
}
.wrapper {
	display: flex;
	padding: 0;
	margin: 0;
	width: 100%;
	justify-content: space-between;
	position: relative;
}
.content-section {
	flex: 70%;
	max-width: 70%;
	order: 2;
	padding: 2rem;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.content {
	background: $blanc;
}
.toc-section {
	flex: 20%;
	order: 1;
	max-width: 30%;
	transition: all ease-out 0.5s;
	padding: 3rem;
}
.toc-holder {
	position: -webkit-sticky;
	position: sticky;
	top: 4.5rem;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $blanc;
	margin-right: 0.5rem;
	transition: all ease-out 0.3s;
}
.toc {
	position: relative;
	padding-top: 0px;
	transition: all ease-out 0.3s;
	nav {
		padding-top: 0px;
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		transition: all ease-out 0.3s;
	}
	ul {
		list-style: none;
		padding-left: 0.5rem;
		margin-bottom: 0rem;
		width: 100%;
	}
	li {
		padding: 0.4rem;
	}
	.nav-link {
		padding: 0;
		padding-left: 0.5rem;
		transition: all ease-out 0.3s;
		color: $noir;
		&:hover {
			padding-left: 1rem;
			padding-right: 0.5rem;
			transition: all ease-out 0.3s;
		}
		&:focus {
			padding-left: 1rem;
			padding-right: 0.5rem;
			transition: all ease-out 0.3s;
		}
	}
	.nav-link.active {
		padding-left: 1rem;
		padding-right: 0.5rem;
		transition: all ease-out 0.3s;
	}
}
.nav-pills {
	.nav-link.active {
		color: $logo;
		background-color: transparent;
	}
}
.hero-area {
	margin-bottom: 8rem;
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	max-width: 900px;
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 9px;
	padding-left: 0;
	padding-right: 0;
}
.page-content {
	width: 100%;
	position: relative;
	top: -4.5rem;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
}
.title {
	text-align: center;
}
.post-content {
	padding: 15px;
	h1 {
		margin-top: 1.4rem;
	}
	h3 {
		margin-top: 1.3rem;
	}
	blockquote {
		border-left: 4px solid $logo;
		background-color: $cards;
		padding: 0.3rem;
		padding-left: 1rem;
		>p {
			color: $noir;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}
}
/*améliore le scroll to anchor*/
h2 {
	display: block;
	padding-top: 55px;
}
/* ============= Device specific fixes ======= */
@media (max-width: 992px) {
    /*fait disparaitre le TOC sur les petits formats*/
	.toc-section {
		display: none;
	}
	.wrapper {
		padding: 1rem;
		display: flex;
		flex-direction: column;
	}
	.content-section {
		padding: 1rem;
		flex: 100%;
		max-width: 100%;
		order: 3;
	}
}
