.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.content-section {
  flex: 80%;
  padding: 0;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.content {
  padding: 0;
  position: relative;
  padding-top: 3rem;
  min-height: 130vh;
  max-width:1140px;
}


.post-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 144px;
  /* fallback */
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
