/*les couleurs sont appelées via des var(--)*/
:root{
  --noir : #04141A;
  --blanc : #FAEDD7;
  --cards : #fff8ec;
  --clair : #E8CC9B;
  --foncé : #0A3240;
  --logo : #48c1ee;
}

@font-face {
  font-family: "Grotesk";
  src: url("/fontgrotesk/SpaceGrotesk-Medium.woff2")format('woff2');
}

body {
  background-color: var(--blanc);
  font-family: Helvetica, Arial, Sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--noir);
  font-weight:400;
  letter-spacing: 1px;
}

h1, h2{
margin-bottom:10px;
margin-top:10px;
font-family: "Grotesk", Helvetica, Arial, Sans-serif;
font-size:2rem;
}

/*permet de scroll vers les ancres de titre en affichant le titre*/
h2 > span {
  margin-top: -90px!important;
  padding-bottom: 90px!important;
  display: block;
}

strong {
  color: var(--noir)!important;
}

p {
  color: var(--noir);
  font-weight:500!important;
}

/*grossi les liens uniquement dans les paragraphes pour mieux les différencier*/
p a{
  font-style:italic;
  font-weight:600;
}

li {
  list-style: none;
}

a {
  color: var(--foncé);
  text-decoration:none!important;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--logo)!important;
  text-decoration:none!important;
}

mark{ /* utilisation de balise MARK  pour mettre en gras dans les textes */
  padding: 0;
  background-color: transparent;
  font-weight:bolder;
}

img {
  max-width:100%;
  height:auto;
}

.svg{ /*classe pour tous les icones svg*/
  max-width:40px;
}
.svgclair{ /*class des icones clairs sur fonds foncés*/
  width:20px;
  filter: invert(88%) sepia(11%) saturate(617%) hue-rotate(335deg) brightness(109%) contrast(96%);
}

.svgfonce{  /*class des icones foncés sur fonds clairs*/
 width:24px;
 filter: invert(13%) sepia(21%) saturate(3177%) hue-rotate(160deg) brightness(98%) contrast(92%);
}

.svg:hover{  /*icones au survol*/
  filter: invert(65%) sepia(93%) saturate(879%) hue-rotate(164deg) brightness(98%) contrast(91%);
}

.illu{
  max-width:120%;
  height:auto;
}

.container{
  padding-right:0px;
  padding-left:0px;
}

.btn-dark {
  background-color: var(--foncé)!important;
  color: var(--blanc)!important;
  transition: all 0.2s ease-out!important;
  box-shadow: 0 3px 0px var(--logo);
}

.btn-dark:hover,
.btn-dark:focus {
  transition: all 0.2s ease-out!important;
  color:var(--logo)!important;
  box-shadow: 0 6px 0px var(--logo);
  transform: translateY(-2px);
}

.btn-outline-info {
  color: var(--noir) !important;
  border-color: var(--noir) !important;
}

.btn-outline-info:hover,
.btn-outline-info:focus {
  background-color: var(--logo) !important;
  color: var(--noir) !important;
}

.btn-info {
  background-color: var(--foncé) !important;
  color: var(--blanc) !important;
}

.btn-info:hover,
.btn-info:hover {
  background-color: var(--foncé) !important;
  color: var(--blanc) !important;
}


.anchor {
  padding-top: 3.5rem;
}


/* --- SECTION SPECIFIC START --- */
/* gestion manuelle des sections colorées*/
.experiences-section{
  background-color: var(--foncé)!important;
}

/*stylisation de la section*/
.experiences-section:before{
  content:'';
  display:block;
  width:100%;
  height:4px;
  background-color:var(--foncé);
  position:absolute;
  margin-top:-64px;
  left:0;
  right:0;
  z-index:-1;
}

.reference-section{
  background-color: var(--clair)!important;
}

.reference-section:after{
  content:'';
  display:block;
  width:100%;
  height:4px;
  background-color:var(--clair);
  position:absolute;
  margin-top:54px;
  left:0;
  right:0;
  z-index:-1;
}

.experiences-section h2{
  color:var(--blanc);

}

.reference-section h2{
  color:var(--noir);

}

.experiences-section h3, .reference-section h3{
  color:var(--blanc);

}

.experiences-section  p, .reference-section p{
  color:var(--blanc);

}
/* --- SECTION SPECIFIC END --- */

/* --- CARD START --- */

.card {
  box-shadow: 0px 4px 1px var(--noir);
  transition: all 0.3s ease-out;
  overflow: hidden;
  border-radius:0.4rem;
  background:var(--cards);
  height:100%;
  width:300px;
  margin-right:auto;
  margin-left:auto;
}

.card:hover,
.card:focus {
  box-shadow: 0px 8px 1px var(--logo);
  transition: all 0.3s ease-out;
  transform: translateY(-2px);
}

.card-img{
  padding: 4px;
  border-radius:0.4rem;
}


/*traitement spécifique des images des clients*/
.card-client img{
  max-width:155px;
  max-height:125px;
  margin:0rem;
  }
  
  .card-client img:hover{
    transform: translateY(-2px);
    transition: all 0.2s ease-out!important;
  }

  .card-client-highlighted{ /*traitement specifique des clients détaillés sur la page référence*/
  max-width:380px!important;
  }

.card .card-head {
  max-height: 172px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.card-img-top {
  transition: all 0.3s ease-out !important;
}

.card:hover .card-head .card-img-top,
.card:focus .card-head .card-img-top {
  transition: all 0.3s ease-out;
  transform: scale(1.2);
}

.card-body {
  text-align: justify;
}
.card-header{
  text-decoration: none!important;
}

.sub-title {
  color: var(--foncé)!important;
  font-size: 10pt;
}

.card-footer {
  margin-top: auto;
}

.social-link {
  list-style: none;
  padding-left: 0.2rem;
}

.social-link a {
  padding-left: 0.8rem;
}

.social-link a:hover {
  transition: all 0.3s ease-in;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  width:100%;
  margin:auto;
}

/* Carte specifique derniers articles */
.recent-posts-section .container {
  padding-top: 1rem;
}



.recent-posts-section .card .card-footer {
  margin-top: auto;
}

.post-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 144px; 
  -webkit-line-clamp: 5; /*nombre de lignes de la description*/
  -webkit-box-orient: vertical;
}

/* --- CARD END --- */

/* --- NAVBAR --- */
.navbar {
  position:fixed;
  top:0;
  z-index:9999;
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  background-color: var(--foncé);
  border-bottom:  4px solid var(--clair);
  color:var(--blanc);
  display:flex;
}
.brand {
  margin-left:5%;
  color:var(--blanc);
  font-weight:400;
  margin-top:-4px; 
  font-family:'Grotesk', Helvetica,Arial, Sans-serif;
  font-size:20px;
}

.INCAYA a.accueil,
.cooperative a.cooperative,
.blog a.blog,
.references a.references{
  color:var(--logo);
}

.menu {
  margin-right:5%;
  width: 60%;
  align-items:center;
  margin-top:-4px;  
  display:flex;
}
.menu ul {
  justify-content: end;
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.menu ul a {
  height: inherit;
  color: var(--blanc);
  display: inline-block;
}
.menu ul a:hover {
  color: var(--logo);
}
#menuToggle {
  display: none; /*cache la checkbox*/
}
.menu-icon {
  display: none;
  margin-top:-4px; 
  filter: invert(88%) sepia(11%) saturate(617%) hue-rotate(335deg) brightness(109%) contrast(96%);
}

/* MENU MOBIL A PARTIR DE 768px */
@media screen and (max-width: 768px) {
  .menu {
      width: 100%;
      height: auto;
      padding-top:12px;
      margin-right:0%;
  }
  .menu ul {
      display: block;
      max-height: 0; /* taille du menu fermé */
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
      -ms-transition: max-height 0.3s;
      -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }
  .menu ul a {
      text-align: left;
      width: 100%;
      height: 50px;
      background-color: var(--clair);
      padding-left:50px;
      color:var(--foncé);
  }

  .menu ul a:hover{
    background:var(--foncé);
  }

  .menu ul a li {
    margin-top: 4px; 
  }

.menu-icon {
    width: 20px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 55px;
    margin-right:6%;
    cursor:pointer;
}

.menu-icon:hover{
  filter: invert(65%) sepia(93%) saturate(879%) hue-rotate(164deg) brightness(98%) contrast(91%);
}

  .menu-icon i {
    font-size: 1.4em;
}
  .brand{
    margin-top:4px;
  }

  #menuToggle:checked ~ ul {
      max-height: 350px; /* taille max du menu ouvert */
  }

}

/* --- FOOTER START --- */

.footer {
  margin-top:50px;
  color: var(--blanc) !important;
  background-color: var(--foncé);
  position: relative;
  z-index: 200;
  border-top: 4px solid var(--clair);
}

.logo-footer {
  width:100px;
  height:auto;
}

.footer h4 {
  color: var(--clair);
}
.footer a {
  color: var(--blanc);
  transition: all 0.3s ease-out;
}

.footer a:hover {
  margin-left: 2px;
  transition: all 0.3s ease-out;
  color:var(--logo)!important;
  text-decoration:none;
}

.footer .logo-footer-link:hover{ /*empeche le logo de bouger lors du survol*/
  margin-left: 0px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  margin-top: 5px;
}

.footer hr {
  background-color: var(--clair);
  width:86%;
}

/* --- FOOTER END ---- */

