.experiences-section {
  padding-bottom: 1rem;
}

.experiences-section .timeline {
  margin-top: 1.5rem !important;
}

.experiences-section h1 > span{
  margin-top: -55px;
  padding-bottom:55px; 
  display: block; 
}

.experiences-section ul {
  padding-left: 1rem;
}

.experiences-section ul > li {
  margin-left: 0;
  color: #3c4858;
}

.experiences-section .designation {
  font-weight: 600;
}

.illu{
  margin-left:-5rem;
  margin-right:2rem;
  width:140%;
  height:auto;
}

/* ============= Device specific fixes ======= */

@media only screen and (max-width: 768px) {
  .experiences-section .container {
    width: 90%;
  }
}

