.skills-section .card .card-head {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.7rem;
  padding-bottom: 0rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.125);
}

.skills-section h1 > span{
  margin-top: -55px;  /* Size of fixed header */
  padding-bottom:55px; 
  display: block; 
}

.skills-section .skill-card-link {
  text-decoration: none;
}

.skills-section .card .card-img-xs {
  margin-right: 0.5rem;
}

.skills-section .card {
  height: 100%;
}

.card .card-head {
height:70px;
width:100%;
justify-content: center;
}

.skills-section .card .card-body {
  padding-top: 0.2rem;
  padding-left: 0.7rem;
}

.skills-section{
  margin-bottom:50px;
}
