<div class="col">
    <div class="experience-entry-heading">
        {{ $position:= index .positions 0 }}

            <!-- IMAGE -->
            {{ if .company.illustration }}
            <div class="illu">
                {{ .company.illustration | markdownify  }}
            </div>
            {{ end }}
        <!-- For single position, give emphasis on the designation-->
        <h4>{{ $position.designation }}</h4>
    </div>
    <!-- Add company overview -->
    <p>{{ .company.overview | markdownify }}</p>

</div>
