<div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
    <a class="skill-card-link" {{ if .url }}href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"{{ end }}>
      <div class="card" style="text-align: center">
        <div class="card-head">
          <h5 class="card-title" style="text-align: center">{{ .name }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text" style="text-align: center">{{ .summary | markdownify }}</p>
        </div>
      </div>
    </a>
  </div>
