:root {
  --wrapper: 1130px;
  --wrapper-padding: 1rem;
  --space: max(
    1rem,
    calc((100% - calc(var(--wrapper) - var(--wrapper-padding) * 2)) / 2)
  );
}

body {
  font-family: Roboto, "Open Sans", Arial, Helvetica, "Liberation Sans",
    FreeSans, sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}
* {
  box-sizing: border-box;
}

// Header
// ––––––––––––––––––––

header {
  background-color: #444;
  margin: 0rem;
  padding: 5px 0;
  nav ul {
    display: flex;
    gap: 1rem;
  }

  nav a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  a {
    text-decoration: underline;
    color: #fff;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
  a {
    text-decoration: none;
  }
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;

  height: 40px;
  img {
    height: 40px;
    vertical-align: -10px;
  }
}

// Main
// ––––––––––––––––––––

h1 {
  font-family: Roboto, "Open Sans", Arial, Helvetica, "Liberation Sans",
    FreeSans, sans-serif;
  font-weight: 900;
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
h2 {
  font-family: Roboto, "Open Sans", Arial, Helvetica, "Liberation Sans",
    FreeSans, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
h3 {
  font-family: Roboto, "Open Sans", Arial, Helvetica, "Liberation Sans",
    FreeSans, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
}

strong {
  font-weight: bold;
}
section {
  // padding: 10px 0;
  // margin: 25px auto 0 auto;
  p {
    margin: 15px 0 0 0;
    text-align: justify;
  }
}

.section-hero-wrapper {
  max-width: var(--wrapper);
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}
section.hero {
  margin: 10px auto 25px auto;
  width: 100%;
  background-color: white;
  // max-width: calc(var(--wrapper) + var(--space));
  &.lacooperative {
    background-color: $dark_blue;
  }
  &.nosreferences {
    background-color: $dark_blue;
  }
  &.latelier {
    background-color: $dark_blue;
  }
  .hero-image {
    text-align: center;
    padding-left: 50px;
    padding-top: 25px;
    img {
      border-radius: 5px;
    }
    display: none;
    @include lg {
      display: flex;
      align-items: center;
    }
  }
}
.hero-text {
  width: 70%;
  padding: 25px 0;
  width: 100%;
  @include lg {
    width: 70%;
  }
}
.section-two-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // margin: 1.5rem auto;
  
  img {
    margin: 25px 0;
    @include md {
      width: 250px;
    }
  }
  &.bg-dark-blue {
    background-color: $dark_blue;
    // color: white;
    @include lg {
      background: linear-gradient(to right, $dark_blue 65%, white 25%);
      
    }
    .section__item--end {
      @include lg {
        background-color: $dark_blue;
        padding: 1.5rem 6rem 1.5rem 0;
        border-radius: 50vh; 
      }
    }
  }
  &.bg-dark-grey {
    background-color: $dark_grey;
    color: white;
  }
  &.bg-dark-orange {
    background-color: $dark_orange;
    @include lg {
      background: linear-gradient(to right, $dark_orange 65%, white 25%);
    }
    .section__item--end {
      @include lg {
        background-color: $dark_orange;
        padding: 1.5rem 6rem 1.5rem 0;
        border-radius: 50vh; 

      }
    }
  }
}
.hilight {
  // border-top: 1px dashed #ccc;
  // border-bottom: 1px dashed #ccc;

  .section-two-column-wrapper {
    // margin: 0px auto 25px auto;
    margin: 0px;
    @include lg {
      flex-direction: row-reverse;
    }
    .section__item--end {
      @include lg {
        padding: 1.5rem 2rem 1.5rem 0;
      }
    }
  }
}
.section-two-column-wrapper {
  max-width: var(--wrapper);
  padding: 10px var(--wrapper-padding) 25px;
  display: flex;
  // margin: 10px auto 35px auto;
  flex-direction: column;
  @include lg {
    flex-direction: row;
    margin: 0px auto;
    padding: 0px var(--wrapper-padding);
  }
}

.section__item {
  flex: 1;
  min-width: 0;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
  }
}

.section__item--start {
  order: -1;
  text-align: center;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
  flex-direction: column;
  margin-top: 1rem;
  padding-top: 20px;
}

// Contact
// ––––––––––––––––––––

section.contact {
  padding: 2rem 1rem 2rem var(--space);
  background-color: $dark_grey;
  &.lacooperative {
    background-color: $dark_grey;
  }
  &.nosreferences {
    background-color: $dark_grey;
  }
  &.latelier {
    background-color: $dark_grey;
  }
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
  color: white;
}

// Footer
// ––––––––––––––––––––

footer {
  padding: 2rem 1rem 2rem var(--space);
  color: white;
  background-color: $dark_grey;
  &.lacooperative {
    background-color: $dark_grey;
  }
  &.nosreferences {
    background-color: $dark_grey;
  }
  &.latelier {
    background-color: $dark_grey;
  }
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0;
  a {
    color: white;
  }
}
