<header class="container">
    <hgroup>
        <h1><img width="50"alt="avatar" src="{{ "/images/avatar.png" | relURL }}" /> Incaya</h1>
        <h2>Coopérative de services du numérique</h2>
    </hgroup>
    <nav>
        <ul>
            <li><a href="{{ "/" | relURL }}">Acceuil</a></li>
            <li><a href="{{ "/savoir-faire" | relURL }}">Nos savoir-faire</a></li>
            <li><a href="{{ "/cooperative" | relURL }}">Une coopérative</a></li>
            <li><a href="{{ "/references" | relURL }}">Nos références</a></li>
            <li><a href="{{ "/contact" | relURL }}">Contact</a></li>
        </ul>
        <ul>
            <li><a href="{{ "/blog" | relURL }}">Le blog</a></li>
            <li><a href="{{ "/atelier" | relURL }}">L'atelier</a></li>
        </ul>
      </nav>
</header>

