<section class="container-fluid anchor pb-5 experiences-section  " style="transform:skewY(3deg)">
    <h2 class="text-center" style="transform:skewY(-3deg)">
        Nous sommes des artisans de la donnée
    </h2>
    <div class="container text-justify align-items-center d-flex flex-row pb-5 mb-5" style="flex-wrap:wrap;">
        <!-- Colonne 1 -->
        <div class="col mx-auto " style="min-width:240px; max-width:300px; height:600px; transform:skewY(-3deg)">
            <div class="experience-entry-heading">
                <div class="illu">
                    <img src="/images/accueil/acquerons.svg" class="illu" alt="nous acquérons la donnée">
                </div>
                <h3>Nous acquérons</h3>
            </div>
            <p>Vous avez besoin d'une <b>interface de captation</b> claire, consentie, inclusive ?<br><br>
                Des formulaires web aux objets connectés, nous nous engageons à imaginer avec vous les justes modalités
                d'acquisition de la donnée brute.
            </p>
        </div>
        <!-- Colonne 2 -->
        <div class="col mx-auto " style="min-width:240px; max-width:300px; height:600px; transform:skewY(-3deg)">
            <div class="experience-entry-heading">
                <div class="illu">
                    <img src="/images/accueil/transformons2.svg" class="illu" alt="nous transformons la donnée">
                </div>
                <h3>Nous transformons</h3>
            </div>
            <p>Vous voulez réorganiser, transformer et <b>restructurer des bases de données</b> de tous types grâce à un
                outillage décisionnel performant ?<br><br>
                Si votre projet nécessite une reprise de données, nous en tenons compte et l'anticipons.
            </p>
        </div>
        <!-- Colonne 3 -->
        <div class="col mx-auto " style="min-width:240px; max-width:300px; height:600px; transform:skewY(-3deg)">
            <div class="experience-entry-heading">
                <div class="illu">
                    <img src="/images/accueil/restituons2.svg" class="illu" alt="nous restituons la donnée">
                </div>
                <h3>Nous restituons</h3>
            </div>
            <p>Vous nécessitez une <b>application dédiée</b>, mobile ou web ?<br><br>
                Nous prenons le temps de répondre avec vous aux questions de partage, de sécurité et de confidentialité.
            </p>
        </div>
        <!-- fin des colonnes -->
    </div>
</section>
