<section class="container-fluid anchor pb-5 reference-section" style="transform:skewY(-3deg)">

    <h2 class="text-center mb-5" style="transform:skewY(3deg)">
        Ils nous font confiance
    </h2>

    <div class="row scrolling-wrapper-flexbox mb-5 " id="primary-skills" style="transform:skewY(3deg)">
        {{ range first 6 $.Site.Data.clients.current }}
        {{ partial "cards/client.html" . }}
        {{ end }}
    </div>

    <div class="container d-flex-block text-center mt-5 pb-5 mb-3" style="transform:skewY(3deg)">
        <a href="/nos-references/" class="btn btn-dark">Découvrez toutes nos références</a>
    </div>
</section>
