<section class="container-fluid anchor pb-5 skills-section">

    <h2 class="text-center">Notre Coopérative</h2>

    <div class="container">
        <div class="row text-justify m-2">

            <div class="col-md-10 mx-auto">
            <p class="p-1">
                INCAYA est une SCOP : <mark>une Société COopérative et Participative</mark>.
                Chez nous la gouvernance est démocratique, la pérennité des emplois et le projet d’entreprise ont la
                priorité sur le profit. Pour nous ça veut dire beaucoup.
            </p>
            <p class="p-1">
                Pour vous ce sont surtout <mark>des garanties</mark> : un prestataire qui privilégie la <mark>solidité financière</mark>, des
                interlocuteurs particulièrement impliqués, l’envie de travailler sur le <mark>long terme et en confiance</mark>.
            </p>
            </div>
        </div>
    </div>

    <div class="container d-flex-block text-center mt-5 pb-5">
        <a href="/la-cooperative/" class="btn btn-dark">Apprenez-en plus sur INCAYA</a>
    </div>
</section>
