<section class="cooperative-section">
  <div class="container">
    <h2>Notre Coopérative</h2>
    <p>
      INCAYA est une SCOP :
      <mark>une Société COopérative et Participative</mark>. Chez nous la
      gouvernance est démocratique, la pérennité des emplois et le projet
      d’entreprise ont la priorité sur le profit. Pour nous ça veut dire
      beaucoup.
    </p>
    <p>
      Pour vous ce sont surtout <mark>des garanties</mark> : un prestataire qui
      privilégie la <mark>solidité financière</mark>, des interlocuteurs
      particulièrement impliqués, l’envie de travailler sur le
      <mark>long terme et en confiance</mark>.
    </p>
    <div class="button-container">
      <a class="button dark-button-link" href="/la-cooperative/">
        Apprenez-en plus sur INCAYA
      </a>
    </div>
  </div>
</section>
