<section class="container-fluid anchor pb-5 mt-5 about-section">
    <h1 class="text-center mb-5">Travaillons ensemble à la réussite de vos projets numériques</h1>
    <div class="container">
        <div class="row pt-sm-2 pt-md-4 text-justify m-2 justify-content-center">
            <div class="col-md-12 col-lg-5 mx-2">
                <p>
                    <mark>Comprendre</mark> votre métier et son quotidien, imaginer ou repenser une architecture technique, <mark>développer</mark> vos outils - ou trouver les professionnels qualifiés pour - mais aussi les <mark>maintenir</mark> au long cours : voici comment nous intervenons régulièrement pour garantir le succès des projets numériques nos clients.
                </p>
            </div>
            <div class="col-md-12 col-lg-5 mx-2">
                <p>
                    Forts de nombreuses années d'expérience dans le <mark>développement informatique et l'accompagnement</mark>, nous
                    pouvons vous aider à prendre du recul, à faire les bons choix et à créer un climat de confiance.
                </p>
                <p>
                    A la fois <mark>techniciens</mark> et <mark>assistants à maîtrise d'ouvrage</mark>, nous intervenons
                    régulièrement en <mark>facilitateurs</mark> pour lever les freins et rétablir une communication optimale.
                </p>

            </div>
        </div>
    </div>
</section>
