<section class="container-fluid anchor pb-5 mt-5 about-section">
    <h1 class="text-center mb-5">Vous accompagner pour réussir vos projets numériques</h1>
    <div class="container">
        <div class="row pt-sm-2 pt-md-4 text-justify m-2 justify-content-center">
            <div class="col-md-12 col-lg-5 mx-2">
                <p>
                    Comprendre votre métier et son quotidien, imaginer ou repenser une <mark>architecture technique</mark>,
                    trouver les professionnels qualifiés pour <mark>développer</mark> vos outils et les <mark>maintenir</mark> au
                    long cours :
                    voici comment nous intervenons régulièrement pour garantir le succès de nos clients.
                </p>
            </div>
            <div class="col-md-12 col-lg-5 mx-2">
                <p>
                    Forts de nombreuses années d'expérience dans l'<mark>accompagnement des projets numériques</mark>, nous
                    pouvons vous aider à prendre du recul, à faire les bons choix et à créer un climat de confiance.
                    A la fois techniciens et <mark>assistants à maîtrise d'ouvrage</mark> (AMOA SI), nous intervenons
                    régulièrement en <mark>facilitateurs</mark> pour lever les freins et rétablir une communication optimale.
                </p>

            </div>
        </div>
    </div>
</section>
