<div class="container-fluid anchor pb-4 about-section mt-4">
    <h1 class="text-center mb-5">Vous accompagner pour réussir vos projets numériques</h1>
    <div class="container">
        <div class="row pt-sm-2 pt-md-4 text-justify m-4 justify-content-center">
            <div class="col-md-12 col-lg-5 mx-2">
                <p>
                    Comprendre votre métier et son quotidien, imaginer ou repenser une <b>architecture technique</b>,
                    trouver les professionnels qualifiés pour <b>développer</b> vos outils et les <b>maintenir</b> au
                    long cours :
                    voici comment nous intervenons régulièrement pour garantir le succès de nos clients.
                </p>
            </div>
            <div class="col-md-12 col-lg-5 mx-2">
                <p>
                    Forts de nombreuses années d'expérience dans l'<b>accompagnement des projets numériques</b>, nous
                    pouvons vous aider à prendre du recul, à faire les bons choix et à créer un climat de confiance.
                    A la fois techniciens et <b>assistants à maîtrise d'ouvrage</b> (AMOA SI), nous intervenons
                    régulièrement en <b>facilitateurs</b> pour lever les freins et rétablir une communication optimale.
                </p>

                <div class="col text-right mt-5">
                    <img src="/images/laptopincaya.svg" alt="laptop incaya" style="max-height:60px; width:auto;">
                </div>
            </div>
        </div>
    </div>
</div>
