{{ define "main" }}
<div id="list-page">
    <div class="row bandeau">
        <p class="punch">A vos côtés pour inventer !</p>
        <p>Associations, collectivités, entreprises : nous assurons l'<strong>Assistance à Maîtrise d'Ouvrage</strong>
            (AMO SI) de votre projet de création ou de refonte de système d'information.</p>
        <p>Spécialistes de la veille et de l'innovation technique, nous vous conseillons et réalisons des
            <strong>prototypes logiciels et matériels</strong> pour vos projets scientifiques, éducatifs et culturels.
        </p>
    </div>

    <div class="row cards">
        <div class="card">
            <div class="side-icon"><img src="/images/rocket.svg" alt="icône fusée" width="100"></div><a href="/savoir-faire">
                <h3>Nos savoir-faire</h3>
                <p>Pour vous accompagner</p>
            </a>
        </div>
        <div class="card">
            <div class="side-icon"><img src="/images/users.svg" alt="icône coopérative" width="100"></div><a href="/cooperative">
                <h3>Une coopérative ?</h3>
                <p>Ce qui fait la différence</p>
            </a>
        </div>
        <div class="card">
            <div class="side-icon"><img src="/images/bubble.svg" alt="icône contact" width="100"></div><a href="/contact">
                <h3>Contact</h3>
                <p>Parlons de votre projet</p>
            </a>
        </div>
    </div>

    
    <section class="summary" style="margin: 5rem 0;">
        <h3>Elles et ils nous font confiance</h3>
        {{ range $.Site.Data.clients.structures }}
        <img class="logo-client" src="/clients/{{ .logo }}" alt="{{ .name }}" />
        {{ end }}
    </section>
</div>
{{ end }}
