.top-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 99999;
  transition: all 0.4s ease-out;
  margin: 0px;
  padding-top: 0.4rem;
  text-align: center;
}

#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
    transition: all 0.4s ease-out;
    background:var(--foncé);
    margin-top:-4px;
}


.final-navbar {
  background-color: var(--foncé);
  color: var(--blanc);
  transition: all 0.3s ease-out;
  border-bottom:  5px solid var(--clair);
}

.final-navbar .navbar-brand {
  color: var(--blanc);
  font-weight: 600;
}

.final-navbar li a {
  color: var(--blanc);
  font-weight: 500;
  transition: all 0.3s ease-out;
}

.final-navbar .navbar-nav .active,
.final-navbar li a:hover {
  color: var(--logo);
  transition: all 0.3s ease-out;
}

.final-navbar .navbar-toggler-icon{
  filter:invert(0);
}

.navbar-collapse.show li a,
.navbar-collapse.collapsing li a {
  color: var(--blanc);
  font-weight: 500;
  transition: all 0.3s ease-out;
}

.navbar-collapse.show .navbar-nav .active,
.navbar-collapse.show .navbar-nav a:hover {
  color: var(--logo);
}

#top-navbar-divider {
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
}


#top-navbar-divider {
  background: var(--clair);
  height: 20px;
  width: 1px;
  border-top:none;
}


.navbar-brand img {
  width: 42px;
  padding: 5px;
  margin-left: -10px;
}

.top-navbar .dropdown-menu {
  border: 1px solid var(--clair);
  max-height: 0vh;
  overflow: hidden;
  display: block;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.top-navbar .dropdown-menu.show {
  max-height: 100vh;
  visibility: visible;
  transition: all 0.3s ease-in;
}

.top-navbar .dropdown-menu a {
  color: var(--blanc);
  border-bottom: none;
}

.top-navbar .dropdown-menu a:hover {
  color: var(--logo);
  transition: all 0.3s ease-out;
  border-bottom: none;
  background: var(--foncé);
}

