<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta name="robots" content="noindex,nofollow" />
      {{ block "meta" . }}
        <title>INCAYA - Artisans du numérique</title>
        <meta name="description" content="Comprendre votre métier et son quotidien, imaginer ou repenser une architecture technique, trouver les professionnels qualifiés pour développer vos outils et les maintenir au long cours" />
      {{ end }}
      {{- partial "head.html" . -}}
    </head>
    <body>
        {{- partial "header.html" . -}}
        <main>
          {{ block "main" . }} {{ end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
