{{ define "meta" }}
  <title>INCAYA - La Coopérative</title>
  <meta name="description" content="Une Société Coopérative et Participative pour vos besoins numériques; c'est une garantie de confiance. C'est une équipe à l'écoute, des techniciens impliqués, et un projet pérenne." />
{{ end }}

{{ define "main" }}

<section class="content-section mt-5" id="content-section">

  <div class="page-content">
    <br>
    <div class="title text">
      <h1>{{ .Page.Title }}</h1>
      <h2>{{ .Page.Description  }}</h2>
    </div>
    <div class="container text-justify align-items-center d-flex flex-row" style="flex-wrap:wrap;">
        <div class="col mx-auto">
        {{ .Page.Content }}
        </div>  
        <div class="row mx-auto" id="primary-skills">
          {{ range $.Site.Data.sections.cooperative.membres }}
              {{ partial "cards/cooperative.html" . }}
          {{ end }}
          </div>
    </div>
<!-- appelle les cards de chaque membre de l'équipe -->

    
  </div>
</section>
{{ end }}



