{{ define "header" }}
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Title }}{{ end }}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css"
/>
<link rel="stylesheet" href="{{ "/css/layouts/single.css" | relURL }}"/>
<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/sections/skills.css" | relURL }}"/>


{{ end }}

{{ define "navbar" }}
    {{ partial "navigators/custom-navbar.html" . }}
{{ end }}




{{ define "content" }}
<section class="content-section" id="content-section">
  <div class="content">
    <div class="container p-0 read-area">


      <div class="page-content">
        <div class="title">
          <h1>{{ .Page.Title }}</h1>
        </div>
        
        <div class="container d-flex-block">
            <div class="row" id="primary-skills">
            {{ range $.Site.Data.sections.skills.skills }}
                {{ partial "cards/skill.html" . }}
            {{ end }}
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
{{ end }}



