<section class="craft-section">
  <div class="container">
    <h2>Nous sommes des artisans de la donnée</h2>
    <div class="columns">
      <div>
        <img
          src="/images/accueil/acquerons.svg"
          alt="nous acquérons la donnée"
        />
        <h3>Acquisition</h3>
        <p>
          Vous avez besoin d'une interface de captation claire, consentie,
          inclusive ?
        </p>
        <p>
          Des formulaires web aux objets connectés, nous nous engageons à
          imaginer avec vous les justes modalités d'acquisition de la donnée
          brute.
        </p>
      </div>

      <div>
        <img
          src="/images/accueil/transformons2.svg"
          alt="nous transformons la donnée"
        />
        <h3>Transformation</h3>
        <p>
          Vous voulez réorganiser, transformer et restructurer des bases de
          données de tous types et de tous âges ?
        </p>
        <p>
          Si votre projet nécessite une reprise de données, nous en tenons
          compte et l'anticipons.
        </p>
      </div>

      <div>
        <img
          src="/images/accueil/restituons2.svg"
          alt="nous restituons la donnée"
        />
        <h3>Restitution</h3>
        <p>
          Vous devez exposer vos données grâce à une application web, une
          application mobile, une API ou encore un support physique ?
        </p>
        <p>
          Nous prenons le temps de répondre avec vous aux enjeux de partage, de
          sécurité et de confidentialité.
        </p>
      </div>
    </div>
  </div>
</section>
