/*les couleurs sont appelées via des variables*/

$noir: #04141a;
$blanc: #faedd7;
$cards: #fff8ec;
$clair: #e8cc9b;
$foncé: #0a3240;
$logo: #48c1ee;

/* HTML */
body {
  background-color: $blanc;
  font-family: Helvetica, Arial, Sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: $foncé;
  text-decoration: none !important;
  transition: color 0.3s ease-out;
  &:hover {
    transition: color 0.3s ease-out;
    color: $logo !important;
    text-decoration: none;
  }
}

main {
  margin-top: 50px;
}

/* Classe globales */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Classes spécifiques */

/* Menu principal */
header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  background-color: $foncé;
  border-bottom: 4px solid $clair;
  color: $blanc;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  .brand {
    margin-left: 5%;
    color: $blanc;
    font-weight: 600;
    margin-top: -4px;
    font-size: 20px;
  }
  nav {
    margin-right: 5%;
    width: 60%;
    align-items: center;
    margin-top: -4px;
    display: flex;
    ul {
      justify-content: end;
      width: 100%;
      height: inherit;
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      a {
        height: inherit;
        color: $blanc;
        display: inline-block;
        margin-top: -1px;
        padding: 0.5rem 1rem;
      }
      .active {
        color: $logo !important;
      }
    }
  }
  @media screen and (max-width: 768px) {
    nav {
      width: 100%;
      margin-top: -2px;
      font-size: 0.9rem;
      ul {
        justify-content: center;
      }
    } 
    .brand {
      display: none;
    }
  }
}

/* fooder */
footer {
  margin-top: 50px;
  color: $blanc !important;
  background-color: $foncé;
  position: relative;
  z-index: 200;
  border-top: 4px solid $clair;
  padding-bottom: 0.5rem !important;

  h1 {
    font-size: 1.5rem;
    color: $clair;
    font-weight: 400;
    margin: 0 0 0.7rem 0;
  }

  a {
    color: $blanc;
  }

  hr {
    background-color: $clair;
    width: 86%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .icon {
    width: 20px;
    margin-right: 5px;
    filter: invert(88%) sepia(11%) saturate(617%) hue-rotate(335deg)
      brightness(109%) contrast(96%);
  }

  .top-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem !important;
    line-height: 1.8rem;
    div {
      margin: 0 1rem;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 1rem;
      li a {
        display: flex;
        align-items: center;
      }
    }
    .logo {
      margin-top: 1rem !important;
      width: 100px;
      height: auto;
    }
  }

  .cc-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    a {
      margin: 0 0.5rem;
      display: flex;
      align-items: center;

      &:hover {
        transition: color 0.3s ease-out;
        color: $logo !important;
        text-decoration: none;
      }
    }
    .icon {
      &:hover {
        filter: invert(65%) sepia(93%) saturate(879%) hue-rotate(164deg)
          brightness(98%) contrast(91%);
      }
    }
  }
}
