{{ define "main" }}

<section class="hero">
    <div>
        <h1>{{ .Title }}</h1>
        <p>{{ .Content }}</p>
    </div>
</section>

{{ range .Data.Pages }}
<section id="archive" class="grid">
    <div class="section-wrapper">
        <article>
            <h2>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h2>
            {{ .Params.description }}
            <div>Un truc ?</div>
        </article>
    </div>
</section>
{{ end }}

{{ end }}
