{{ define "main" }}

<section class="hero">
  <div class="section-hero-wrapper">
    <div class="hero-text">
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.description }} </p>
    </div>
  </div>
</section>

<section>
  <div class="section-wrapper">
    <div class="content">
      <h3 class="title">{{ .Content }}</h3>
    </div>
    <div class="content">
      <h3 class="title">Les articles</h3>
      {{ $projectSlug := .Params.slug}}
      <ul>
        {{ range $key, $value := .Site.Taxonomies.projects }}
        {{ if eq $key $projectSlug }}
        {{ range sort $value.Pages "Params.date" "asc" }}
        <li>
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
      </ul>
    </div>
    <div class="content">
      <h3 class="title">En savoir plus</h3>
      <ul>
        {{ range .Params.links }}
        <li><a href={{ .url }}>{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>


  </div>
</section>

{{ end }}