{{ define "meta" }}
<title>INCAYA - La Coopérative</title>
<meta name="description" content="{{ .Page.Description }}" />
{{ end }} {{ define "jsonld" }}
<script type="application/ld+json">
  {
    "description": "Comprendre votre métier et son quotidien, imaginer ou repenser une architecture technique, trouver les professionnels qualifiés pour développer vos outils et les maintenir au long cours.",
    "url": "https://incaya.fr",
    "@type": "Organization",
    "headline": "Une coopérative d'artisans du numérique",
    "name": "INCAYA",
    "image": "https://incaya.fr/images/logo.png",
    "@context": "https://schema.org",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Caen, France",
      "postalCode": "14000",
      "streetAddress": "15 rue de Vaucelles"
    },
    "email": "contact(at)incaya.fr"
  }
</script>
{{ end }} {{ define "main" }}
<div class="container">
  <article>
    <h1>{{ .Page.Title }}</h1>
    {{ .Page.Content }}
    <h2>L’équipe</h2>
    <div class="card-container">
      {{ range $.Site.Data.cooperateurs.personnes }} {{ partial
      "cards/cooperateur.html" . }} {{ end }}
    </div>
  </article>
</div>
{{ end }}
